.faq {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f3f4f5;
    padding-top: 100px;
    padding-bottom: 400px;
    display: flex;
}

.faq::after {
    content: "";
    position: absolute;
    top: -39%;
    left: 0px;
    width: 100%;
    height: 40%;
    background-image: url(/faq-wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.faq .wraper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    /* overflow: hidden; */
}

.faq-img {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2);
    overflow: hidden;
    gap: 20px;
    height: fit-content;
}

.faq-text-img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* overflow: hidden; */
    width: 90%;

}

.faq-img-row {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.faq-img-row:first-of-type {
    align-items: end;
}

.faq-img-row:last-of-type {
    align-items: start;
}

.faq-text-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.faq-text-img:nth-of-type(1) img {
    width: 600px;
    height: 500px;
}

.faq-text-img:nth-of-type(2) img {
    width: 600px;
    height: 400px;
}

.faq-img-row:last-of-type .faq-text-img:nth-of-type(1) img {
    width: 450px;
    height: 400px;
}

.faq-img-row:last-of-type .faq-text-img:nth-of-type(2) img {
    width: 450px;
    height: 380px;
}

@media (max-width: 1440px) {
    .faq::before {
        top: -35%;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 1024px) {


    .faq-img {
        display: none;
    }
}

@media (max-width: 575px) {
    .faq {
        padding-top: 0;
    }
}